<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AAIB API Test Suite" verbose="1">
    <test name="User Management API Tests" preserve-order="true">
        <classes>
            <class name="AAIB">
                <methods>
                    <include name="testCreateUser"/>
                    <include name="testUpdateUser"/>
                    <include name="testGetUser"/>
                    <include name="testDeleteUser"/>
                    <include name="testVerifyDeletion"/>
                    <include name="testCompleteUserWorkflow"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
